<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AZTabBar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EasyNotificationBadge.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Pods-StevensHome.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Pods-StevensHomeTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Pods-StevensHomeUITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Pods-intentHandlerHome.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PopupDialog.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SCLAlertView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2365F56BB3F3F97B1D5BDF0B9737C22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A15724A9CAFA6AF5041CD06E2DAEB29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>404FE7A5E1BC9895E399817B8B2E5D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44335D295763D0EC6B70C4D80D626A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B48F543151FBF083D9FDD5805ED049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0056ADB94A5229AD1BDBBC98AA12BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F76B2810C761D0D54B87159AAA645B0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA5CABF3B7B1C00C3026B67A521EEBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
